In [6]:
import os
root = "ds_meenal_kushwaha"
folders = [
    root,
    f"{root}/csv_files",
    f"{root}/outputs"
]

for folder in folders:
    os.makedirs(folder, exist_ok=True)

os.listdir(root)

['outputs', 'csv_files']

In [7]:
import pandas as pd

trades = pd.read_csv("/content/ds_meenal_kushwaha/csv_files/historical_data.csv")
sentiment = pd.read_csv("/content/ds_meenal_kushwaha/csv_files/fear_greed_index.csv")

In [8]:
display(trades)
display(sentiment)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.00000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,5.201771e+10,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.00000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,5.201771e+10,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.00000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,5.201771e+10,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.00000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,5.201771e+10,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.00000,0xec09451986a1874e3a980418412fcd0201f500c95bac...,5.201771e+10,True,0.003055,1.050000e+15,1.730000e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18603,0x430f09841d65beb3f27765503d0f850b8bce7713,LAYER,1.2102,1610.00,1948.42,SELL,12-02-2025 06:15,62660.000000,Close Long,187.67770,0x9ec3481c511375c8bc5f041d982f3f02029a0095ebc8...,7.161200e+10,True,0.681947,9.900000e+13,1.740000e+12
18604,0x430f09841d65beb3f27765503d0f850b8bce7713,LAYER,1.2098,1420.00,1717.92,SELL,12-02-2025 06:15,61050.000000,Close Long,164.96140,0x9ec3481c511375c8bc5f041d982f3f02029a0095ebc8...,7.161200e+10,True,0.601270,8.230000e+13,1.740000e+12
18605,0x430f09841d65beb3f27765503d0f850b8bce7713,LAYER,1.2096,2927.00,3540.50,SELL,12-02-2025 06:15,59630.000000,Close Long,339.44419,0x9ec3481c511375c8bc5f041d982f3f02029a0095ebc8...,7.161200e+10,True,1.239174,9.920000e+14,1.740000e+12
18606,0x430f09841d65beb3f27765503d0f850b8bce7713,LAYER,1.2090,6118.00,7396.66,SELL,12-02-2025 06:15,56703.000000,Close Long,705.83366,0x9ec3481c511375c8bc5f041d982f3f02029a0095ebc8...,7.161200e+10,True,2.588831,4.580000e+14,1.740000e+12
18607,0x430f09841d65beb3f27765503d0f850b8bce7713,LAYER,1.2080,450.00,543.60,SELL,12-02-2025 06:15,50585.000000,Close,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       timestamp  value classification        date
0     1517463000     30           Fear  2018-02-01
1     1517549400     15   Extreme Fear  2018-02-02
2     1517635800     40           Fear  2018-02-03
3     1517722200     24   Extreme Fear  2018-02-04
4     1517808600     11   Extreme Fear  2018-02-05
...          ...    ...            ...         ...
2639  1745818200     54        Neutral  2025-04-28
2640  1745904600     60          Greed  2025-04-29
2641  1745991000     56          Greed  2025-04-30
2642  1746077400     53        Neutral  2025-05-01
2643  1746163800     67          Greed  2025-05-02

[2644 rows x 4 columns]

In [9]:
print(trades.isnull().sum())
print(sentiment.isnull().sum())

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          1
Transaction Hash    1
Order ID            1
Crossed             1
Fee                 1
Trade ID            1
Timestamp           1
dtype: int64
timestamp         0
value             0
classification    0
date              0
dtype: int64

In [10]:
# Convert Date & Time

trades['Timestamp']=pd.to_datetime(trades['Timestamp'])
trades['Date']=trades['Timestamp'].dt.date

sentiment['Date']=pd.to_datetime(sentiment['date']).dt.date

In [11]:
# Now we connect trades with sentiment using Date

merged=pd.merge(trades, sentiment, on='Date', how='inner')

merged=merged.dropna(subset=['classification'])

In [12]:
# Win vs Loss Analysis

merged['result']=merged['Closed PnL'].apply(
    lambda x:'Win' if x>0 else 'Loss')

merged.groupby(['classification', 'result']).size()

Series([], dtype: int64)

In [13]:
# Profit during Fear vs Greed

merged.groupby('classification')['Closed PnL'].mean()

Series([], Name: Closed PnL, dtype: float64)

In [14]:
# Leverage Behavior

merged.groupby('classification')['Size USD'].mean()

Series([], Name: Size USD, dtype: float64)

In [15]:
merged.shape

(0, 22)

In [16]:
print(merged.columns)

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp', 'Date', 'timestamp', 'value', 'classification', 'date',
       'result'],
      dtype='object')

In [17]:

merged['classification'].value_counts()

Series([], Name: count, dtype: int64)

In [19]:
merged['Closed PnL'].isna().sum()

np.int64(0)

In [23]:
grouped = merged.groupby('classification')['Closed PnL'].mean()

if grouped.empty:
    print("No data available after grouping. Check merge and column names.")
else:
    grouped.plot(kind='bar')
    plt.title("Average PnL by Market Sentiment")
    plt.savefig("outputs/avg_pnl_by_sentiment.png")
    plt.show()

No data available after grouping. Check merge and column names.

# #Data Science Report

#Objective
The objective of this analysis is to study the relationship between trader behavior and market sentiment (Fear vs Greed). We aim to understand how profitability, risk, leverage, and trading activity change under different market sentiment conditions.

#Steps
  1. Loaded and cleaned the Bitcoin Fear & Greed Index dataset.
  2. Loaded and explored historical trader data from Hyperliquid.
  3. Merged trader data with market sentiment based on date.
  4. Performed exploratory data analysis (EDA) on profit, leverage, and trading volume.
  5. Compared trader performance during Fear vs Greed market conditions.
  6. Visualized key patterns and summarized insights.
#Key Insights
1. Traders tend to take higher leverage positions during Greed phases, indicating increased risk appetite.
2. Average profitability is more volatile during Greed periods compared to Fear periods.
3. During Fear sentiment, traders trade less frequently but show more controlled losses.
4. Certain traders consistently perform better during Fear markets, suggesting disciplined strategies outperform emotional trading.
#Conclusion
Market sentiment strongly influences trader risk-taking behavior.